<h2 class="steps-to-start-tracking-header">{{ 'BotTracking_SiteWithoutDataStepByStepGuide'|translate }}</h2>
<p>{{ 'BotTracking_NoDataCloudflareInstructions1'|translate }}</p>
<br>
<ol class="list-style-decimal">
    <li>{{ 'BotTracking_NoDataCloudflareInstructions2'|translate }}</li>
    <li>{{ 'BotTracking_NoDataCloudflareInstructions3'|translate }}</li>
    <li>{{ 'BotTracking_NoDataCloudflareInstructions4'|translate }}</li>
</ol>
<br>
<p>{{ 'BotTracking_NoDataLinkSourceCode'|translate(externallink(urlSourceCode), '</a>')|raw }}</p>
<p>{{ 'BotTracking_NoDataLinkKnowledgeBase'|translate(externallink(urlKnowledgeBase), '</a>')|raw }}</p>
